<script>

    $.material.init();

    $("#dropdown-menu select").dropdown();
    $("#Cart").on('click', function (event) {
        $("#CartModal").modal('show');
        if (localStorage.getItem("Order")) {
            var Order = getLocalStorageData("Order");

            // clear tables
            $("#order-tables").children().remove();
            // loop through wholesalers,
            for (var wholesaler in Order) {
                // create a table
                var table = "";
                table = '<table class="table table-striped table-hover"  id="' + wholesaler + '"><thead><tr><th>ProductId</th><th>ProductName</th><th>Quantity</th><th>UnitPrice</th></tr></thead>';
                table = table + '<tbody>';

                // loop through products in order and add rows
                for (var product in Order[wholesaler]["ProductsInOrder"]) {
                    table = table + "<tr><td>" + Order[wholesaler]["ProductsInOrder"][product]["ProductId"] + "</td><td>" + Order[wholesaler]["ProductsInOrder"][product]["ProductName"] + "</td><td>" + Order[wholesaler]["ProductsInOrder"][product]["Quantity"] + "</td><td>" + Order[wholesaler]["ProductsInOrder"][product]["UnitPrice"] + "<td></tr>";
                }

                table = table + '</tbody></table>'
                $("#order-tables").append(table);
                $("#order-tables").append('<a class="btn btn-primary btn-raised" href="/WholesaleOrders/MyWholesaleOrders/PlaceOrder?id=' + wholesaler + '">Place Order</a>');
                $("#order-tables").append('<a class="btn btn-default btn-raised" id="resetOrder">Reset</a>');

            }

        } else {
            // empty order
        }
        event.preventDefault();
    });

    

    $("#Quote").on('click', function (event) {
        
        $("#QuoteModal").modal('show');
        if (localStorage.getItem("Quotation")) {
        var Quotation = getLocalStorageData("Quotation");
        
            // clear tables
        $("#quotation-tables").children().remove();
            // loop through wholesalers,
        for (var wholesaler in Quotation) {
            // create a table
            var table ="";
            table = '<table class="table table-striped table-hover"  id="'+wholesaler+'"><thead><tr><th>ProductId</th><th>ProductName</th><th>Quantity</th><th>UnitPrice</th></tr></thead>';
            table = table + '<tbody>';

            // loop through products in quotation and add rows
            for (var product in Quotation[wholesaler]["ProductsInQuotation"]) {
                table = table + "<tr><td>" + Quotation[wholesaler]["ProductsInQuotation"][product]["ProductId"] + "</td><td>" + Quotation[wholesaler]["ProductsInQuotation"][product]["ProductName"] + "</td><td>" + Quotation[wholesaler]["ProductsInQuotation"][product]["Quantity"] + "</td><td>" + Quotation[wholesaler]["ProductsInQuotation"][product]["UnitPrice"] + "<td></tr>";
            }

            table = table + '</tbody></table>'
            $("#quotation-tables").append(table);
            $("#quotation-tables").append('<a class="btn btn-primary btn-raised" withpjax="with-ajax" data-pjax=".content-panel" href="/Quotations/MyQuotations/Request?id=' + wholesaler + '">Request Quotation</a>');
            $("#quotation-tables").append('<a class="btn btn-default btn-raised" id="resetQuote">Reset</a>');
    
            $(document).ready(function () {

            $('a[withpjax]').each(function () {
                console.log("pjaxification");
                $(this).pjax(
                    {
                        container: ".content-panel",
                    }
                );
            });
            });
        }

        } else {
            // empty quotation
        }

        event.preventDefault();
    });

    $("#resetQuote").on('click', function (event) {
        $("#quote-products tbody").children().remove();
        
        localStorage.removeItem('ProductsInQuotation')
        event.preventDefault();
    });

    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();

    var loader = $("#loader");

    $.pjax.defaults.timeout = false;

    $('a[withpjax]').each(function () {
        console.log("pjaxification");
        $(this).pjax(
            {
                container: ".content-panel",
            }
        );
    });


    $(document).on({
        "ajaxStart": function () { $(".cs-loader").show(); },
        "ajaxStop": function () { $(".cs-loader").hide();; },
    });
    $(".cs-loader").hide();
    $("#add-to-quote-form").on('submit', function () {

        // ProductInformation
        var product = {};
        product.ProductId = $(productForQuote).attr('data-id');
        product.ProductName = $(productForQuote).attr('data-name');
        product.Quantity = $(this).find('input[name=Quantity]').val();
        product.UnitPrice = $(this).find('input[name=UnitPrice]').val();

        addToQuote(product, wholesalerId);
        resetForm($(this));
        event.preventDefault();
    });
</script>