
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.multiselect {
    /*width: 170px;
    font-size: 15px;
    padding-bottom: 4px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    outline: none;*/

    background-color :#CFD8DC !important;
}

.multiselect:hover {
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
}

.multiselect.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /*border-bottom: 1px solid transparent;*/
    border-bottom: transparent;
}

.multiselect > .title {
    /*cursor: pointer;
    height: 25px;
    padding: 6px;*/
}

.multiselect > .title > .text {
    max-width: 130px;
    max-height: 25px;
    display: block;
    float: left;
    overflow: hidden;
}

.multiselect > .title > .expand-icon,
.multiselect > .title > .close-icon {
    float: right;
    /*border-radius: 50%;
    padding: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    transition: 0.2s;*/
    margin-top : 5px ;
    display: none;
}

.multiselect.selection > .title > .expand-icon {
    display: none;
}

.multiselect > .title > .expand-icon,
.multiselect.selection > .title > .close-icon {
    display: block;
}

.multiselect > .title > .close-icon:hover {
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    border: rgba(0, 0, 0, 0.3);
    background: rgb(203, 32, 32);
    color: #fff;
}

.multiselect > .options-container {
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 4px;
    margin-left: -1px;
    width: 170px;
    transition: 0.2s;
    position: absolute;
    z-index: 9999 !important;
    background: #fff;
    bottom : 40px ;
    padding : 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*border: 1px solid transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.1);*/
}

.multiselect.active > .options-container {
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    border: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 0;
}

.multiselect:hover > .options-container {
    border-top-color: rgba(0, 0, 0, 0.3);
}

.multiselect.active:hover > .options-container {
    border-color: rgba(0, 0, 0, 0.3);
}

.multiselect > .options-container > option {
    display: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    /*border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;*/
    border-top: transparent;
    border-bottom: transparent;
}

.multiselect > .options-container > option.selected {
    background: rgb(122, 175, 233);
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
    border-top: rgba(0, 0, 0, 0.1);
    border-bottom: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.multiselect > .options-container > option:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}

.multiselect.active > .options-container > option {
    display: block;
}