<head>
    <title> @ViewBag.title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap-3.3.6/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link href="~/Content/theme-material/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="~/Content/theme-material/css/ripples.min.css" rel="stylesheet">
    <!-- Page style -->
    <link href="~/Content/theme-material/css/page.css" rel="stylesheet">

    @*<link href="~/Content/materialize-css/materialize.css" rel="stylesheet" />*@

    <link href="~/Content/dropzone.css" rel="stylesheet" />

    <link href="~/Content/MyCustom.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.0.0.js"></script>
</head>