@{
    ViewBag.title = "Products";
}

<div class="panel panel-default row items-panel">
    <div class="panel-heading">
        Products
    </div>
    <div class="panel-body">
        <!-- single item -->
        <ul class="ìtems">
            <li class="panel panel-default col-md-4 item" data-id="1" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="2" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="3" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="4" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="5" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="6" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="7" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="8" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="9" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
            <li class="panel panel-default col-md-4 item" data-id="10" data-name="Product 3" data-price="20.00">
                <div class="panel-heading">
                    <h4 class="">Cycle</h4>

                </div>
                <div class="panel-body">
                    <img src="~/Content/sample_product.jpg" alt="item" class="" />
                    <p class="description">
                        This is a small description about this product. This is a small description about this product.
                    </p>
                    <p>Price : <span class="price"> $449 </span></p>

                    </p>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Quantity</label>
                    <input class="form-control" id="focusedInput1" type="number">
                </div>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary add-to-quote">Get Quote</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-warning add-to-cart">Add To Cart</a>
            </li>
        </ul>
    </div>
</div>

@section script{
    <script>
    // -- copy paste from stackoverflow
    
        // Setting local storage items for the cart and quote if it doesn't exist

    if (localStorage.getItem('cart')) {
        var cart = {};
        cart.products = [];

        localStorage.setItem('cart', JSON.stringify(cart));
    }
    

    var productForQuote;

    $(document).ready(function () {

        // Add to Cart button click event
        $('.add-to-cart').on('click', function () {
            var product = $(this).parent();

            var quantity = $(product).find('input[type=number]').val();
            $(product).find('input[type=number]').val("");
            $(product).find('.label-floating').addClass("is-Empty");
            $(product).find('.label-floating').removeClass("is-focused");

            product.id = $(product).attr('data-id');
            product.name = $(product).attr('data-name');
            product.price = $(product).attr('data-price');
            product.quantity = quantity;

            addToCart(product);
        });

        // Add to Quote button click event
        $('.add-to-quote').on('click', function () {
            // show a modal
            $("#add-to-quote-modal").modal('show');

            // save the product which the modal is going to add to the quote
            productForQuote = $(this).parent();
            
        });

        $("#add-to-quote-form").on('submit', function () {

            var product = {};
            product.ProductId = $(productForQuote).attr('data-id');
            product.ProductName = $(productForQuote).attr('data-name');
            product.Quantity = $(this).find('input[name=Quantity]').val();
            product.UnitPrice = $(this).find('input[name=UnitPrice]').val();

            console.log(product);
            addToQuote(product);
            resetForm($(this));
            event.preventDefault();
        });

    });
     
</script>
    }