@model RetailShop.Areas.Administrators.Models.ManageAdministratorViewModel
@{
    ViewBag.Title = "View profile";
}

<h2>@ViewBag.Title.</h2>

@* User Creation Form *@
<div class="col-md-6 col-sm-12" id="user-registration-forms">
    <form action="Edit" id="administrator-form" method="POST" class="well">
        <div id="name-group" class="form-group">
            <fieldset disabled>
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })

            <label for="name">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            </fieldset>
        </div>
    </form>
    <input type="checkbox" id="edit-enable-checkbox">Enable Editing profile</input>
</div>

@section Scripts 
    {
    <script>
        $("#edit-enable-checkbox").change(function () {
            if ($(this).is(':checked')){
                $("fieldset").removeAttr("disabled");
            } else {
                $("fieldset").attr("disabled", "");
            }
        });
    </script>
    }