@using WholesaleTradingPortal.Models
@model IEnumerable<Enterprise>
@{
    ViewBag.title = "Enterprises' online shops";
    var i = 1;
    var boxSize = "title-tg";
}

<title>@ViewBag.title</title>
        <div class="dashboard display-animation" style="margin: 0 auto; width: 1400px;">
            @foreach (var Enterprise in Model)
            {
                if (i == 1)
                {
                    boxSize = "tile tile-lg tile-pink ripple-effect";
                }
                if (i == 2)
                {
                    boxSize = "tile tile-lg tile-sqr tile-purple ripple-effect animated";
                }
                if (i == 3)
                {
                    boxSize = "tile tile-lg tile-sqr tile-purple ripple-effect animated";
                }
                if (i == 4)
                {
                    boxSize = "tile tile-lg tile-sqr tile-purple ripple-effect animated";
                }
                if (i == 5)
                {
                    boxSize = "tile tile-lg tile-pink ripple-effect";
                }
                if (i == 6)
                {
                    boxSize = "tile tile-lg tile-sqr tile-purple ripple-effect animated";
                }
                if (i == 7)
                {
                    boxSize = "tile tile-lg tile-sqr tile-purple ripple-effect animated";

                }
                if (i == 8)
                {
                    boxSize = "tile tile-lg tile-sqr tile-purple ripple-effect animated";
                }
                if (i == 9)
                {
                    boxSize = "tile tile-lg tile-pink ripple-effect";

                }
                <a withpjax="with-ajax" data-pjax=".right" class="@boxSize" href="/Default/Sellers/Seller/@Enterprise.EnterpriseId">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img" style="background-image:url('/Images/@Enterprise.EnterpriseId/logo.png')"></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">@Enterprise.EnterpriseName</span>
                            </span>
                        </span>
                    </span>
                </a>

                if (i == 9)
                {
                    i = 1;
                    continue;
                }
                i++;

            }


            @*<a class="tile tile-lg tile-sqr tile-purple ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Material Design Reel</span>
                            </span>
                        </span>
                    </span>
                </a>
                <a class="tile tile-lg tile-sqr tile-cyan ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Material Design <span class="caption">PDF</span></span>
                            </span>
                        </span>
                    </span>
                </a>
                <a class="tile tile-lg tile-sqr tile-amber ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img tile-img-bg" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Doodle Archive</span>
                            </span>
                        </span>
                    </span>
                </a>
                <a class="tile tile-lg tile-light-blue ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img tile-img-bg" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Google+</span>
                            </span>
                        </span>
                    </span>
                </a>
                <a class="tile tile-lg tile-sqr tile-red ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Design Minutes</span>
                            </span>
                        </span>
                    </span>
                </a>
                <a class="tile tile-lg tile-sqr tile-indigo ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Google Cast UX</span>
                            </span>
                        </span>
                    </span>
                </a>
                <a class="tile tile-lg tile-sqr tile-deep-orange ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Glass Design</span>
                            </span>
                        </span>
                    </span>
                </a>
                <a class="tile tile-lg tile-light-green ripple-effect" href="#">
                    <span class="content-wrapper">
                        <span class="tile-content">
                            <span class="tile-img tile-img-bg" style=""></span>
                            <span class="tile-holder tile-holder-sm">
                                <span class="title">Google Web Designer</span>
                            </span>
                        </span>
                    </span>
                </a>*@
        </div>


@*<div class="col-md-2 panel">
        <div class="panel col-md-12 sub-content-panel">
            <h6>Seller Categories</h6>

        </div>
        <div class="panel col-md-12">
            <h6>Seller Locations</h6>
        </div>
    </div>
    <div class="col-md-10 panel sub-content-panel">

    </div>
    <div class="col-md-2 panel sub-content-panel">
    </div>*@
@section script{
    <script>
        
    </script>
}