@model RetailEnterprise.Models.RegisterCustomerViewModel
@{
    ViewBag.Title = "Register new User";
}

<h2>@ViewBag.Title.</h2>

<div class="col-md-12">
    <div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>
</div>
@* User Creation Form *@
<div class="col-md-6 col-sm-12">
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    
    <form action="/Account/Register" id="create-user-form" method="POST">
        <div id="name-group" class="form-group">
            @*@Html.AntiForgeryToken()*@

            @*Email*@
            <label for="name">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            @*Password*@
            <label for="date">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

            @*ConfirmPassword*@
            <label for="date">ConfirmPassword</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

        </div>
        <input type="submit" class="btn btn-success" value="Register New user" />
    </form>
</div>

@* show the payment list from the database *@
@*<div class="col-md-12 col-sm-12">
    <table id="users-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>*@


<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script>

    /// Initiating the salary payments table

    //var usersTable = $("#users-table").DataTable({
    //    "columns": [
    //            { "data": "Email" }
    //    ]
    //});

    //updateTableFromApi(salaryPaymentsTable, "/api/Account/GetUsers", function () { });

    $("#create-user-form").on('submit', function (event) {
        var FormData = getFormValues('create-user-form');
        console.log(FormData);
        $.ajax({
            type: 'post',
            url: "/Account/Register",
            data: JSON.stringify(FormData),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log("user created");
                //salaryPaymentsTable.clear();
                //updateTableFromApi(salaryPaymentsTable, "/api/SalaryPayments/GetSalaryPayments", function () { });
            }
        }
            );
            event.preventDefault();
    });

</script>


@*}

@section Scripts {

}*@
