<div class="navbar navbar-default navbar-fixed-top custom-navbar">
    <div class=".content-panel-fluid">
        <!-- Navigation Header -->
        <div class="navbar-header">
            <h5>Customer Area</h5>
            
        </div>
        <!-- navigation body -->

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--  Login / Register Link-->
                <li><a href="/Default" class="btn btn-raised btn-default shopping-cart" >Visit Retail Market</a></li>
                <li><a href="#" id="RetailCart" class="btn btn-raised btn-default shopping-cart"><i></i></a></li>
                <!-- Account links -->
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle btn btn-raised btn-default custom-navbar-links " data-toggle="dropdown">
                        My Account
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Sales/MyRetailOrder/PlacedOrders">My Orders</a></li>
                        <li><a href="/Customers/Customer/Manage">My Profile</a></li>
                        <li class="divider"></li>
                       
                        @using (Html.BeginForm("LogOff", "../Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                <a class="btn btn-warning btn-raised" placeholder="Logout" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>